// TYPOGRAPHY ================================================
$base-font: 'source-sans-pro', sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: 'source-code-pro', monospace;
$alt-font: 'volkhov', serif;

$doc-font-size: 16;
$doc-line-height: 24;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;	
}


// COLORS =====================================================
$base03    : #002b36;
$base02    : #073642;
$base01    : #586e75;
$base00    : #657b83;
$base0     : #839496;
$base1     : #93a1a1;
$base2     : #eee8d5;
$base3     : #fdf6e3;
$yellow    : #b58900;
$orange    : #cb4b16;
$red       : #dc322f;
$magenta   : #d33682;
$violet    : #6c71c4;
$blue      : #268bd2;
$cyan      : #2aa198;
$green     : #859900;

$color-main-background           : $base03;
$color-main-background-highlight : $base02;
$color-main-text-secondary       : $base01;
$color-main-text-primary         : $base0;
$color-main-text-emphasized      : $base1;
$color-main-link                 : $color-main-text-emphasized;
$color-main-link-visited         : $color-main-text-primary;
$color-main-link-highlighted     : $color-main-text-secondary;
$color-main-selection-background : $color-main-background-highlight;
$color-main-selection-text       : $orange;
$color-main-frame                : $green;
$color-alt-background            : $base3;
$color-alt-background-highlight  : $base2;
$color-alt-text-secondary        : $base1;
$color-alt-text-primary          : $base00;
$color-alt-text-emphasized       : $base01;

$color-site-text-title: $yellow;

// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
